@import './common';
@import './example';

/*----LINK AND LIST NONEDECORATION AND PADDINGS AND MARGINS----*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/*----POSITIONS FOR CONTAINERS----*/

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  // outline: 2px solid tomato;
}

/*----MAIN COMPONENTS----*/

.header {
  background-color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
}

.request {
  background-color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}

.layout {
  // background-color: aquamarine;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*----MAIN COMPONENTS----*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  // width: 380px;
  // outline: 2px solid tomato;
}

.info {
  display: flex;
}

.info-item {
  // outline: 2px solid tomato;
  // padding: 5px 20px;
  text-align: center;
  width: 25%;
}

.no-visible {
  display: none;
}

.thumb {
  // position: relative;
  height: 250px;
  width: 380px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

//  img {
//   // max-width: 100%;
//   object-fit: cover;
// }
